:root {
  --blue-dark: #232C37;
  --blue-navy: #163A63;
  --blue-grey: #435061;
  --blue-sky: #95C5FF;

  --grey-text: #464D55;
  --grey-medium: #8B95A1;
  --grey-light: #E1E2E5;
  --white-off: #EDEFF3;

  --orange-pale: #FC6E50;

  --green-grass: #47B236;
}
