@charset "utf-8";

@import url("./fonts.css");
@import url("./colors.css");

html, body, main, header, section, div, nav, h1, h2, h3, h4, h5, h6, p, a, ul, li {
	background-repeat: no-repeat;
	background-position: center;
	color: inherit;
	font-family: inherit;
	list-style-type: inherit;
}

#header-offset {
	padding-top: 50px;
}

body {
	font-family: FiraSansRegular, sans-serif;
	min-height: 100vh;
	background-color: var(--grey-light);
}

/* image */
img {
	width: 100%;
}
.img-caption {
	padding: 4px 0;
	margin-bottom: 4px;
	text-align: center;
	font-size: 16px;
	color: var(--blue-navy);
}
a:hover .img-caption,
a:focus .img-caption {
	color: var(--blue-hard);
	text-decoration: none;
}
a img {
	box-shadow: 0 0 0px #FFF;
	transition-duration: 0.15s;
}
a img:hover {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
}

/* flex */
.flexH {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.flexV {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.flex-align-justify {
	justify-content: space-between;
}
.flex-align-right {
	justify-content: flex-end;
}
.flex-wrap {
	display: flex;
	flex-wrap: wrap;
}

.w-fullW { max-width: 100%; }
.w100 {	max-width: 100px; }
.w300 {	max-width: 300px; }
.w500 {	max-width: 500px; }

/* texte */
main h1 {
	font-size: 28px;
	font-family: OswaldMedium;
	color: var(--blue-navy);
}
main h1 a:hover {
	color: var(--blue-navy-light);
}



/* STRUCTURE */

.main-content {
	padding: 12px 64px;
	background-color: white;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
.block {
	margin: 25px auto;
	max-width: 450px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
.block-title {
	padding: 8px 18px;
	max-width: 600px;
	background-color: var(--blue-grey);
	text-align: center;
	font-family: FiraSansItalic;
	font-size: 26px;
	color: white;
}
.block-content {
	padding: 18px;
	background-color: white;
}



/* RESULTS */
#results {
	display: flex;
	flex-flow: wrap;
}
@media (width >= 768px) {
	#results { flex-flow: nowrap; }
	#results aside {
	}
}
@media (width < 768px) {
	#results { flex-flow: wrap; }
	#results aside {
		display: flex;
		flex-flow: wrap;
		width: 100vw;
	}
}
#results aside {
	padding: 16px;
	background-color: var(--blue-grey);
	font-family: FiraSansLightItalic;
	color: var(--white-off);
}
#results aside h1 {
	font-family: FiraSansBoldItalic;
	font-size: 18px;
	color: white;
}
#results aside h2 {
	font-family: FiraSansItalic;
	font-size: 15px;
	color: white;
}
#results aside fieldset {
	margin-left: 16px;
	min-width: 180px;
}

#results-panel {
	padding: 18px 28px;
	background-color: white;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

#results-imgs {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.results-column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.results-column img {
  margin-top: 8px;
}


/* THUMBNAIL */
.thn {
	margin-bottom: 32px;
}
.thn-img {
	margin-bottom: 16px;
}
.thn-title  {
	font-size: 18px;
	color: var(--orange-pale);
}
.thn-title a:hover {
	color: var(--orange-pale-light);
}
.thn-date {
	margin-bottom: 8px;
	font-size: 16px;
	color: var(--blue-hard);
}
.thn-desc {
	color: var(--grey-text);
}
