@charset "utf-8";

@import url("./fonts.css");
@import url("./colors.css");

html, body, main, header, section, div, nav, h1, h2, h3, h4, h5, h6, p, a, ul, li {
	background-repeat: no-repeat;
	background-position: center;
	color: inherit;
	font-family: inherit;
	list-style-type: inherit;
}

#header-offset {
	padding-top: 50px;
}

body {
	font-family: FiraSansRegular, sans-serif;
	min-height: 100vh;
	background-color: var(--grey-light);
}

/* image */
img {
	width: 100%;
}
.img-caption {
	padding: 4px 0;
	margin-bottom: 4px;
	text-align: center;
	font-size: 16px;
	color: var(--blue-navy);
}
a:hover .img-caption,
a:focus .img-caption {
	color: var(--blue-hard);
	text-decoration: none;
}

/* flex */
.flexH {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.flex-align-justify {
	justify-content: space-between;
}
.flex-align-right {
	justify-content: flex-end;
}

.w-fullW { max-width: 100%; }
.w100 {	max-width: 100px; }
.w300 {	max-width: 300px; }
.w500 {	max-width: 500px; }

/* texte */
main h1 {
	font-size: 28px;
	font-family: OswaldMedium;
	color: var(--blue-navy);
}



/* STRUCTURE */

.main-content {
	padding: 12px 64px;
	background-color: white;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
.block {
	margin: 25px auto;
	max-width: 450px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
.block-title {
	padding: 8px 18px;
	max-width: 600px;
	background-color: var(--blue-grey);
	text-align: center;
	font-family: FiraSansItalic;
	font-size: 26px;
	color: white;
}
.block-content {
	padding: 18px;
	background-color: white;
}



/* FORM */

/* -- common */
#bs-override label {
	font-weight: normal;
}

form.explicit-form label {
	color: var(--blue-hard);
}

.btn {
	padding: 10px 24px;
	font-size: 16px;
}

.btn-blue-dark {
	background-color: var(--blue-dark);
	color: white;
}

.btn-blue-dark:hover {
	background-color: var(--blue-grey);
	color: white;
}

/* -- fields */
.form-civilite {
	margin-right: 10%;
}

.form-date input {
	display: inline-block;
	margin-right: 2px;
	width: 75px;
	appearance: none;
}

.form-phone-ind {
	margin-right: 5px;
	width: 75px;
}

.form-cp {
	margin: 0 5px 0 0;
	width: 100px;
}

.form-ville {
	margin: 0;
	width: 100%;
}

.form-signup {
	color: var(--blue-navy);
}



/* Themes */
