#authentification {
  max-width: 600px;
  margin: 0 auto;
}

.img-results {
  display: flex;
  align-content: space-between;
  align-items: center;
  margin: 2em 0;
}
.img-results>img {
  display: flex;
  max-height: 500px;
  max-width: 40%;
  margin-right: 2em;
}
.img-results>div {
  width: 100%;
  text-align: left;
}

div.color-tag {
  display:inline-block;
  margin:20px 10px 0 0;
  height:40px;
  width:40px;
  border-radius:5px 20px 5px 5px;
  border:solid 2px #fff;
  box-shadow:2px 2px 3px rgba(0,0,0,1);
}
